<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
  
<h3>Express JS CRUD Using Mongo DB and Express Handlebars</h3>

 <a href="/add">Add Record</a> |    <a href="/display">Display Record</a> |

 <a href="/get-all-users-api" target="_blank">View JSON API URL</a> |    <a href="/add-users-api" target="_blank">Add JSON API URL</a>


 <br/>
 <br/>
{{#if success_msg}}
  <div class="alert alert-success">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
  <div class="alert alert-danger">{{error_msg}}</div>
{{/if}}
    {{{body}}}
 
</body>
</html>