{{#if message}} {{message}} {{/if}}


<form method="post">

    <table>

        <tr>
            <td>Name : </td>
            <td>
                <input type="text" placeholder="Enter Name" name="user_name" required> </td>
        </tr>
        <tr>
            <td> Email :</td>
            <td>
                <input type="text" placeholder="Enter Email" name="user_email" required>
            </td>
        </tr>
        <tr>
            <td>Mobile :</td>
            <td>
                <input type="text" placeholder="Enter Mobile" name="user_mobile" required>
            </td>
        </tr>

        <tr>

            <td>
                <input type="submit">
                  <input type="button" value="Display" onclick="window.location='display'">
            </td>
        </tr>
    </table>





</form>